# Created using @tscircuit/plop (npm install -g @tscircuit/plop)
name: Bun Test

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.1

      - name: Install dependencies
        run: bun install

      - name: Run tests
        run: bun test --timeout 60000

      - name: Upload diff PNG and SVG snapshot artifacts
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: diff-png-and-snap-svg-artifacts
          path: |
            **/*.diff.png
            **/*.snap.svg
